.loader {
    margin: 50px auto;
    display: flex;
}

.home-page {
    margin: 0 auto;
    text-align: center;
}

.btc-animation {
    width: 50vw;
    max-width: 650px;
    margin: -100px auto;
    margin-bottom: 20px;
    @include for-wide-layout {
        margin-top: -50px;
    }
    @include for-tablet-layout {
        margin-top: 0;
        width: 60vw;
    }
    @include for-mini-layout {
        margin-top: 50px;
        width: 80vw;
    }
}

.link {
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    color: #fff;
    font-weight: 550;
    font-size: rem(18px);
    background: linear-gradient(213deg, rgb(34 174 248)  15%, rgb(255 0 241 / 27%) 72%);
}