.login-page {
    margin: 50px auto;
    width: 400px;
    height: 70vh;
    background: #fff;
    gap: 10px;
    background-image: linear-gradient(to left bottom, #1d587b, #005896, #1754ad, #5347ba, #8928ba);
    box-shadow: 16px 16px 20px 9px black;
    ;
    filter: drop-shadow(120px 140px 160px black);

    @include for-normal-layout {
        width: 60vw;
    }

    @include for-mobile-layout {
        width: 70vw;
    }

    img {
        height: 60%;
    }

    span {
        font-size: rem(20px)
    }

    form {
        padding: 5px;
        padding-top: 10px;
        height: 40%;
        gap: 10px;

        input {
            width: 80%;
            border-radius: 8px;
        }
        input::placeholder {
          color:grey
        }

        button {
            padding: 10px;
            border-radius: 12px;
            cursor: pointer;
            color: #fff;
            font-weight: 550;
            font-size: rem(15px);
            box-shadow:1px 6px 7px 1px black;
            background: linear-gradient(213deg, rgb(34 174 248) 15%, rgb(255 0 241 / 27%) 72%);
        }
    }
}